{#
/**
 * @file
 * Default output for a Swiper object.
 *
 * Available variables:
 * - attributes: An array of attributes to apply to the element.
 * - content.list: A renderable array of the swiper list
 * - settings: An array containing the given settings.
 *
 * @see template_preprocess_swiper()
 */
#}

{% set options = swiper.settings.options.options %}

<div{{ attributes }}>
    {{ content.list }}

    {# Add Pagination #}
    {% if settings.pagination or swiper.settings.pagination %}
        <div class="{{ swiper.settings.paginationClass | replace({'.':'', '#':'' }) }}"></div>
    {% endif %}

    {# Add navigation buttons #}
    {% if settings.scrollbar or swiper.settings.navButtons %}
        <div class="{{ options.prevButton | replace({'.':'', '#':'' }) }}"></div>
        <div class="{{ options.nextButton | replace({'.':'', '#':'' }) }}"></div>
    {% endif %}

    {# Add scrollbar #}
    {% if settings.scrollbar or swiper.settings.scrollbar %}
        <div class="{{ options.scrollbarClass | replace({'.':'', '#':'' }) }}"></div>
    {% endif %}

    <pre>{{ dump(options.prevButton | replace({'.':'', '#':''})) }}</pre>
    <pre>{{ dump(options.prevButton) }}</pre>
    <pre>{{ dump(options.nextButton) }}</pre>
    <pre>{{ dump(swiper.settings.navButtons) }}</pre>
   {# <pre>{{ dump(options) }}</pre>#}

</div>
